* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px; /* rem font size */
}

/* VARIABLES */

:root {
    --blue: #00AAEF;
    --red: #c8102e;
    --yellow: #fedb00;
    --black: #111;
    --mrgn-xs: 7.5px;
    --mrgn-sm: calc(var(--mrgn-xs) * 2); /* 15px */
    --mrgn-md: calc(var(--mrgn-sm) * 2); /* 30px */
    --mrgn-lg: calc(var(--mrgn-md) * 2); /* 60px */
    --txt-color: white;
}

/* SCROLLBAR */

.inner::-webkit-scrollbar-track {
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.inner::-webkit-scrollbar {
    width: 30px;
    border-radius: 30px;
}

.inner::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: var(--yellow);
}

/* MAIN ELEMENTS */

body {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    font-family: 'Open Sans', sans-serif;
    line-height: 200%;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    margin: var(--mrgn-xs) 0 var(--mrgn-md) 0;
    text-align: center;
    letter-spacing: 2px;
}

ul {
    list-style-position: inside;
}

a {
    text-decoration: none;
}

.written p {
    font-size: 1.07rem;
    margin-bottom: calc(var(--mrgn-sm) / 2);
}

.written li {
    font-size: 1.07rem;
}

.breadcrumbs,
.breadcrumbs strong {
    font-size: 0.8rem;
}

.breadcrumbs {
    opacity: 0.8;
    color: var(--yellow);
}

.breadcrumbs a {
    text-decoration: none;
    color: var(--yellow);
    font-size: 0.8rem;
    border-bottom: 1px solid var(--yellow);
}

.main {
    grid-area: main;
    background-color: #111;
    color: var(--txt-color);
    padding: var(--mrgn-sm) var(--mrgn-md);
    border-radius: var(--mrgn-sm);
}

.main-relative {
    position: relative;
}

.inner {
    max-height: 51vh;
    overflow: scroll;
    overflow-x: hidden;
}

.two-side-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* BACKGROUND */

#home {
    /*clip-path: url(#cache); */
    position: relative;
    opacity: 0.8;
}

#red {
    fill: none;
    opacity: 0.7;
    stroke:var(--red);
    stroke-width: 5;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
}

#blue {
    fill: none;
    opacity: 0.7;
    stroke: var(--blue);
    stroke-width: 5;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#yellow {
    fill: none;
    opacity: 1;
    stroke: var(--yellow);
    stroke-width: 3;
    stroke-miterlimit: 10;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: draw 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;    
}

/* BACKGROUND ANIMATION KEYFRAMES */

@keyframes draw {
    to { stroke-dashoffset: 0; }
    }

@keyframes show {
    0% { opacity: 1; }
    50% { opacity: 1; }
    100% { opacity: 1; }
    }


/* MAIN GRID AREA */

.container {
    min-width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'left top top right'
    'left main main right'
    'left bottom bottom right';
    grid-template-columns: 13vw 1fr 1fr 13vw;
    grid-template-rows: 13vh 74vh 13vh;
    position: absolute;
    top: 0;
    opacity: 0.92;
    z-index: 10;
}

.top {grid-area: top;}
.left {grid-area: left;}
.right {grid-area: right;}
.bottom {grid-area: bottom;}

/* CLOCK AND DATE */

.datetime {
    color: white;
    max-width: 20vw;
    background-color: #111;
    opacity: 0.8;
    padding-top: var(--mrgn-sm);
    margin: 0 auto;
}

.top p {
    text-align: center;
}

.time {
    margin-top: var(--mrgn-sm);
    font-size: 2.2rem;
}

.time span {
    padding-left: var(--mrgn-xs);
    font-size: 1.2rem;
}

/* HOME & BACK BUTTON */

.logos {
    padding-top: 30vh;
    padding-left: 40%;
}

.logos img {
    height: 8vh;
}

.logos img:first-child {
    margin-bottom: var(--mrgn-lg); 
}

/* WRITTEN CONTENT */

.written {
    width: 60vw;
    padding: 0 100px 0 0;
    margin: 0 auto;
}

.inner-text {
    padding-right: var(--mrgn-xs);
    padding-left: var(--mrgn-lg);
}

/* BUS */

.bus-showcase img {
    width: 600px;
}

.bus-info p {
    text-align: center;
    padding-top: 5vh;
    text-transform: uppercase;
}

.bus-no-list {
    padding-top: var(--mrgn-md);
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bus-no {
    padding: var(--mrgn-sm) var(--mrgn-md);
    background-color: var(--blue);
    border-radius: 5px;
    color: var(--black);
    display: inline-block;
    font-size: 1.6rem;
}

.bus-no a {
    font-size: 1.6rem;
    color: var(--black);
}

.bus-table img {
    max-width: 90%;
}

/* GALLERY AND JOB/INTERNSHIP */

.showcase {
    justify-self: center;
}

.showcase img {
    max-height: 46vh;
    max-width: 40vw;
    padding-right: var(--mrgn-lg); 
}

.job-showcase img {
    max-height: 50vh;
}

.gallery-list {
    padding-right: var(--mrgn-md);
    display: flex;
    margin: -10px 0 0 0;
    flex-direction: row;
    align-content: flex-start;
    flex-flow: wrap;
    justify-content: space-between;
}

.gallery-list-item {
    width: 48%;
    max-height: 20%;
    border: 1.5px solid var(--blue);
    border-radius: var(--mrgn-md);
    background-color: var(--blue);
    color: #111;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 0;
    margin-top: 10px;
    margin-bottom: var(--mrgn-sm);
    padding: var(--mrgn-xs);
}

.gallery-list-item p {
    margin-bottom: 0;
    text-align: center;
}

.gallery-list-item a {
    color: var(--black);
}

.thumbnail {
    max-height: 17vh;
    width: 17vh;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    margin: var(--mrgn-sm);
    object-fit: cover;
}

.date {
    font-size: 0.9rem;
}

.thumb-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

/* TIMETABLES */

.grid {
    width: 90%;
    margin: var(--mrgn-sm) auto 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: var(--mrgn-lg);
    justify-content: space-around;
}

.grid-elem {
    padding: 10px;
    background-color: var(--blue);
    color: var(--black);
    border-radius: 5px;
    height: 120px;
    line-height: 100px;
    text-align: center;
    font-size: 1.4rem;
}

.grid-elem a {
    font-size: 1.4rem;
    color: var(--black);
}

/* TIMETABLE VIEW */

.timetable-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.timetable-grid h6 {
    line-height: 120%;
    font-size: 0.9rem;
}

.timetable-grid p {
    line-height: 100%;
    font-size: 0.8rem;
}

.tt-day {
    display: flex;
    flex-direction: column;
    margin-right: var(--mrgn-sm);
}

.tt-class {
    color: var(--blue);
    border: 1.5px solid var(--blue);
    border-radius: 5px;
    padding: var(--mrgn-xs);
    margin-bottom: var(--mrgn-xs);
}


/* 2nd version */

.timetable-grid-2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
    grid-gap: var(--mrgn-sm);
    grid-template-areas: 
    "E T K N R L"
    ". t1 k1 n1 . ."
    "e1 t2 k2 n2 r1 ."
    "e2 . k3 . . ."
    "e3 . k4 . . .";
}

h2.tt {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2rem;
}

h3.tt {
    font-size: 0.9rem;
    margin: 0;
    font-weight: 400;
    text-align: center;
}

.timetable-grid-2 h6 {
    line-height: 120%;
    font-size: 0.9rem;
}

.timetable-grid-2 p {
    line-height: 100%;
    font-size: 0.8rem;
}

#E, #T, #K, #N, #R, #L {
    text-align: center;
}

#e1, #e2, #e3,
#t1, #t2,
#k1, #k2, #k3, #k4,
#n1, #n2,
#r1 {
    border: 1.5px solid var(--blue);
    border-radius: 5px;
    color: var(--blue);
    padding: var(--mrgn-xs);;
}

#e1 p, #e2 p, #e3 p,
#t1 p, #t2 p,
#k1 p, #k2 p, #k3 p, #k4 p,
#n1 p, #n2 p,
#r1 p {
    color: white;
}

#e1 { grid-area: e1; }
#e2 { grid-area: e2; }
#e3 { grid-area: e3; }

#t1 { grid-area: t1; }
#t2 { grid-area: t2; }

#k1 { grid-area: k1; }
#k2 { grid-area: k2; }
#k3 { grid-area: k3; }
#k4 { grid-area: k4; }

#n1 { grid-area: n1; }
#n2 { grid-area: n2; }

#r1 { grid-area: r1; }

#E { grid-area: E; }
#T { grid-area: T; }
#K { grid-area: K; }
#N { grid-area: N; }
#R { grid-area: R; }
#L { grid-area: L; }

#tund1 { grid-area: tund1; }
#tund2 { grid-area: tund2; }
#tund3 { grid-area: tund3; }
#tund4 { grid-area: tund4; }
#tund5 { grid-area: tund5; }

/* TEACHERS AND ROOMS */

.map img {
    height: 55vh;
}

.teacher-list {
    display: grid;
    grid-template-columns: 40% 25% 35%;
    grid-template-rows: auto;
}

.teacher-list p {
    text-align: center;
}

/* MENU */

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--mrgn-md);
}

.menu,
.shop {
    border: 1.5px solid var(--blue);
    border-radius: 5px;
}

.menu {
    padding: var(--mrgn-xs) var(--mrgn-md);
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.food-item,
.price {
    margin-top: var(--mrgn-sm);
}

.food-item:last-child,
.price:last-child {
    margin-bottom: var(--mrgn-sm);
}

.price {
    background-color: var(--blue);
    color: var(--black);
    border-radius: 5px;
    text-align: center;
}

.shop {
    position: absolute;
    top: 5vh;
    left: 54vw;
    padding: var(--mrgn-xs);
}

.shop span:first-child {
    margin-right: var(--mrgn-sm);
}


/* GUIDANCE INFO */

.guidance-grid {
    display: grid;
    grid-gap: var(--mrgn-md);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.guidance-box {
    border: 1.5px solid var(--blue);
    border-radius: 5px;
    padding: var(--mrgn-sm);
}

/* AVALEHT */

.hexagrid {
    position: relative;
}

.hexagon h3 {
    color: var(--black);
    position: absolute;
    z-index: 30;
    top: 82px;
    left: 23px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;

}

#praktikale,
#syndmused,
#tugiteenused,
#toitlustus,
#tunniplaan,
#bussiajad,
#looming,
#opetajad,
#ajatelg,
#erialad {
    position: absolute;
}

#praktikale img,
#syndmused img,
#tugiteenused img,
#toitlustus img,
#tunniplaan img,
#bussiajad img,
#looming img,
#opetajad img,
#ajatelg img,
#erialad img {
    z-index: 1;
    height: 200px;
}

/* VASAK POOL */

#praktikale {
top: 34vh;
left: 18vw;
}

#syndmused {
top: 54vh;
left: 18vw;
}

#tugiteenused {
top: 64vh;
left: 28vw;
}

/* PAREM POOL */

#toitlustus {
top: 15vh;
left: 62vw;
}

#tunniplaan {
top: 25vh;
left: 72vw;
}

#bussiajad {
top: 45vh;
left: 72vw;
}

#looming {
top: 55vh;
left: 62vw;
}

#ikt {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin-bottom: 200px;
}

#ikt img {
    height: 300px;
}

#ikt h3 {
    transform: rotate(-90deg);
    font-size: 1.8rem;
}

/* IKT */

#opetajad {
    top: 45vh;
    left: 72vw;
}

#ajatelg {
    top: 55vh;
    left: 62vw;
}

#erialad {
    top: 25vh;
    left: 72vw;
}