* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px; /* rem font size */
}

/* VARIABLES */

:root {
    --blue: #00AAEF;
    --red: #c8102e;
    --yellow: #fedb00;
    --black: #111;
    --mrgn-xs: 7.5px;
    --mrgn-sm: calc(var(--mrgn-xs) * 2); /* 15px */
    --mrgn-md: calc(var(--mrgn-sm) * 2); /* 30px */
    --mrgn-lg: calc(var(--mrgn-md) * 2); /* 60px */
    --txt-color: white;
}

/* SCROLLBAR */

.inner::-webkit-scrollbar-track {
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.inner::-webkit-scrollbar {
    width: 30px;
    border-radius: 30px;
}

.inner::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: var(--yellow);
}

/* MAIN ELEMENTS */


body {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    font-family: 'Open-sans', sans-serif;
    line-height: 200%;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.7rem;
    margin: var(--mrgn-xs) 0 var(--mrgn-md) 0;
    text-align: center;
    letter-spacing: 2.5px;
    font-family: "Open Sans Condensed", sans-serif;
}

ul {
    list-style-position: inside;
}

a {
    text-decoration: none;
}

.written p {
    font-size: 1.07rem;
    margin-bottom: calc(var(--mrgn-sm) / 2);
}

.written li {
    font-size: 1.07rem;
}

.breadcrumbs,
.breadcrumbs strong {
    font-size: 0.8rem;
}

.breadcrumbs {
    opacity: 0.8;
    color: var(--yellow);
}

.breadcrumbs a {
    text-decoration: none;
    color: var(--yellow);
    font-size: 0.8rem;
    border-bottom: 1px solid var(--yellow);
}

.main {
    grid-area: main;
    background-color: #111;
    color: var(--txt-color);
    padding: var(--mrgn-sm) var(--mrgn-md);
    border-radius: var(--mrgn-sm);
}

.main-relative {
    position: relative;
}

.inner {
    max-height: 51vh;
    overflow: scroll;
    overflow-x: hidden;
}

.two-side-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* BACKGROUND */

#home {
    /*clip-path: url(#cache); */
    position: relative;
    opacity: 0.8;
}

#red {
    fill: none;
    opacity: 0.7;
    stroke:var(--red);
    stroke-width: 5;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
}

#blue {
    fill: none;
    opacity: 0.7;
    stroke: var(--blue);
    stroke-width: 5;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#yellow {
    fill: none;
    opacity: 1;
    stroke: var(--yellow);
    stroke-width: 3;
    stroke-miterlimit: 10;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: draw 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;    
}

/* BACKGROUND ANIMATION KEYFRAMES */

@keyframes draw {
    to { stroke-dashoffset: 0; }
    }

@keyframes show {
    0% { opacity: 1; }
    50% { opacity: 1; }
    100% { opacity: 1; }
    }


/* MAIN GRID AREA */

.container {
    min-width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'left top top right'
    'left main main right'
    'left bottom bottom right';
    grid-template-columns: 13vw 1fr 1fr 13vw;
    grid-template-rows: 13vh 74vh 13vh;
    position: absolute;
    top: 0;
    opacity: 0.92;
    z-index: 10;
}

.top {grid-area: top;}
.left {grid-area: left;}
.right {grid-area: right;}
.bottom {grid-area: bottom;}

/* CLOCK AND DATE */

.datetime {
    color: white;
    max-width: 20vw;
    opacity: 0.85;
    padding-top: var(--mrgn-sm);
    margin: 0 auto;
    font-family: 'Marvel', sans-serif;
    position: relative;
}

.top p {
    text-align: center;
}

#date {
    font-size: 1.6rem;
    letter-spacing: 1px;
    position: absolute;
    top: 6.7vh;
    left: 25%;
    background-color: #111;
}

#hour, #minute, #second, .colon {
    font-size: 2.6rem;
    color: white;
}

.clock {
    position: absolute;
    left: 30%;
    top: 2vh;
    background-color: #111;
}

.clock p {
 display: inline-block;
}

/* HOME & BACK BUTTON */

.logos {
    padding-top: 26vh;
    padding-left: 40%;
}

.logos img {
    height: 7vh;
}

.logos img:first-child {
    margin-bottom: var(--mrgn-md); 
}

/* WRITTEN CONTENT */

.written {
    width: 60vw;
    padding: 0 100px 0 0;
    margin: 0 auto;
}

.inner-text {
    padding-right: var(--mrgn-xs);
    padding-left: var(--mrgn-lg);
}

/* BUS */

#bus-map {
    width: 690px;
    margin-top: 0;
}

.bus-info p {
    text-align: center;
    padding-top: 5vh;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

#or {
    text-transform: lowercase;
    font-weight: 400;
}

.bus-no-list {
    padding-top: var(--mrgn-md);
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bus-no {
    width: 15%;
    height: 6vh;
    text-align: center;line-height: 60px;
    background-color: var(--blue);
    border-radius: 10px;
    color: var(--black);
    display: inline-block;
    font-size: 1.6rem;
}

.bus-no a {
    font-size: 1.6rem;
    color: var(--black);
}

.bus-table img {
    max-width: 95%;
}

/* GALLERY AND JOB/INTERNSHIP */

.showcase {
    justify-self: center;
}

.showcase img {
    max-height: 46vh;
    max-width: 40vw;
    padding-right: var(--mrgn-lg); 
}

.job-showcase img {
    max-height: 50vh;
}

.gallery-list {
    padding-right: var(--mrgn-md);
    display: flex;
    margin: -10px 0 0 0;
    flex-direction: row;
    align-content: flex-start;
    flex-flow: wrap;
    justify-content: space-between;
}

.gallery-list-item {
    width: 48%;
    max-height: 20%;
    border: 1.5px solid var(--blue);
    border-radius: var(--mrgn-md);
    background-color: var(--blue);
    color: #111;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 0;
    margin-top: 10px;
    margin-bottom: var(--mrgn-sm);
    padding: var(--mrgn-xs);
}

.gallery-list-item p {
    margin-bottom: 0;
    text-align: center;
}

.gallery-list-item a {
    color: var(--black);
}

.thumbnail {
    max-height: 17vh;
    width: 17vh;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    margin: var(--mrgn-sm);
    object-fit: cover;
}

.date {
    font-size: 0.9rem;
}

.thumb-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

/* EVENTS */

.events {
    display: flex;
    flex-direction: column;   
    line-height: 125%;
    height: 50vh;
    text-align: center;
}

.events h4 {
    text-transform: uppercase;
    margin-bottom: var(--mrgn-sm);
    letter-spacing: 1.5px;
}

.event-heading:not(:first-child) {
    margin-top: var(--mrgn-sm);
}

.event-item {
    background-color: var(--blue);
    color: var(--black);
    font-weight: 700;
    margin-bottom: var(--mrgn-sm);
    padding: var(--mrgn-xs) 0;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    margin-left: 25%;
}

/* TIMETABLES */

.grid {
    width: 90%;
    margin: var(--mrgn-xs) auto 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 42px var(--mrgn-md);
}

.grid-elem {
    padding: var(--mrgn-xs);
    background-color: var(--blue);
    color: var(--black);
    border-radius: 10px;
    text-align: center;
    font-size: 1.4rem;
    padding: var(--mrgn-sm) 0;
}

.grid-elem a {
    font-size: 1.4rem;
    color: var(--black);
}

/* TIMETABLE VIEW */

.timetable-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.timetable-grid h6 {
    line-height: 120%;
    font-size: 0.9rem;
}

.timetable-grid p {
    line-height: 100%;
    font-size: 0.8rem;
}

.tt-day {
    display: flex;
    flex-direction: column;
    margin-right: var(--mrgn-sm);
}

.tt-class {
    color: var(--blue);
    border: 1.5px solid var(--blue);
    border-radius: 10px;
    padding: var(--mrgn-xs);
    margin-bottom: var(--mrgn-xs);
}


/* 2nd version */

.timetable-grid-2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
    grid-gap: var(--mrgn-sm);
    grid-template-areas: 
    "E T K N R L"
    ". t1 k1 n1 r1 ."
    ". t2 k2 n2 r2 ."
    ". t3 k3 n3 r3 ."
    ". t4 k4 n4 r4 ."
    ". t5 k5 n5 r5 ."
    ". . . . . ."
    ". . . . . .";
}

.tt-daterange {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2.tt {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.4rem;
    margin-bottom: var(--mrgn-xs);
}

h3.tt-daterange {
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
}

.tt-daterange .material-icons {
    margin: 0;
}

.timetable-grid-2 h6 {
    line-height: 120%;
    font-size: 0.9rem;
}

.timetable-grid-2 p {
    line-height: 100%;
    font-size: 0.8rem;
}

#E, #T, #K, #N, #R, #L {
    text-align: center;
    font-weight: 700;
}

#t1, #t2, #t3, #t4
#k1, #k2, #k3, #k4,
#n1, #n2, #n3, #n4
#r1, #r2, #r3, #r4 {
    border: 1.5px solid var(--blue);
    border-radius: 10px;
    color: var(--blue);
    padding: var(--mrgn-xs);;
}

#e1 p, #e2 p, #e3 p,
#t1 p, #t2 p, #t3 p, #t4 p,
#k1 p, #k2 p, #k3 p, #k4 p, #k5 p, #k6 p, #k7 p,
#n1 p, #n2 p, #n3 p, #n4 p,
#r1 p, #r2 p, #r3 p, #r4 p  {
    color: white;
}

#t1 { grid-area: t1; }
#t2 { grid-area: t2; }
#t3 { grid-area: t3; }
#t4 { grid-area: t4; }

#k1 { grid-area: k1; }
#k2 { grid-area: k2; }
#k3 { grid-area: k3; }
#k4 { grid-area: k4; }

#n1 { grid-area: n1; }
#n2 { grid-area: n2; }
#n3 { grid-area: n3; }
#n4 { grid-area: n4; }

#r1 { grid-area: r1; }
#r2 { grid-area: r2; }
#r3 { grid-area: r3; }
#r4 { grid-area: r4; }

#E { grid-area: E; }
#T { grid-area: T; }
#K { grid-area: K; }
#N { grid-area: N; }
#R { grid-area: R; }
#L { grid-area: L; }

/* TEACHERS AND ROOMS */

.map img {
    margin-top: 5vh;
    margin-left: 3vw;
    height: 45vh;
}

.teacher-list {
    display: flex;
    flex-direction: column;
    padding-right: var(--mrgn-md);
}

.teacher-info {
    display: grid;
    grid-template-columns: 3.5fr 1fr 3fr;
    grid-gap: var(--mrgn-sm);
    margin-bottom: var(--mrgn-sm);
    padding: var(--mrgn-xs);
}

.teacher-head {
    font-weight: 700;
    text-align: center;
}

.teacher-list p {
    text-align: center;
}

.teacher-click {
    background-color: var(--blue);
    color: var(--black);
    border-radius: 20px;
    min-width: 200px;
    margin-right: var(--mrgn-sm);
}

.teacher-list .email p {
    text-align: left;
    margin-left: var(--mrgn-sm);
    font-size: 0.9rem;
}

/* MENU */

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    grid-gap: var(--mrgn-md);
    padding-right: var(--mrgn-lg);
}

.menu-grid.inner {
    max-width: 85%;
    margin: 0 auto;
}

.menu-header {
    margin: var(--mrgn-sm);
    text-align: center;
    font-size: 0.9rem;
}

.menu-info,
.shop {
    border: 1.5px solid var(--blue);
    border-radius: 5px;
}

.menu {
    padding: var(--mrgn-xs) var(--mrgn-sm);
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.food-item,
.price {
    margin-top: var(--mrgn-sm);
}

.food-item:last-child,
.price:last-child {
    margin-bottom: var(--mrgn-sm);
}

.food-item {
    font-weight: 700;
    line-height: 125%;
}

.menu span {
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: var(--mrgn-xs);
}

.price {
    border-radius: 10px;
    text-align: center;
}

.menu h4 {
    padding-left: 50%;
}

.menu .sweet {
    padding-left: 45%;
}

.upper-hr:nth-child(n+3) {
    margin-top: var(--mrgn-sm);
}

.shop {
    position: absolute;
    top: 5vh;
    left: 49.5vw;
    padding: var(--mrgn-xs) var(--mrgn-sm);
}

.shop span:first-child {
    margin-right: var(--mrgn-sm);
}


/* GUIDANCE INFO */

.guidance-grid {
    display: grid;
    grid-gap: var(--mrgn-md);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.guidance-box {
    border: 1.5px solid var(--blue);
    border-radius: 10px;
    padding: var(--mrgn-sm);
}

.guidance-box h3 {
    color: var(--blue);
}
/* AVALEHT */

.hexagrid {
    position: relative;
}

.hexagon h3 {
    color: var(--black);
    position: absolute;
    z-index: 30;
    top: 82px;
    left: 23px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;

}


/* IKT */

#opetajad {
    top: 40vh;
    left: 40vw;
}

#ajatelg {
    top: 49vh;
    left: 49vw;
}

#erialad {
    top: 31vh;
    left: 49vw;
}

/* PROFESSIONS */

 .professions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 90%;
 }

.prof-elem a {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    background-color: var(--blue);
    color: var(--black);
    padding: var(--mrgn-xs);
    margin: var(--mrgn-sm);
    border-radius: 10px;
    font-size: 1.4rem;
    text-align: left;
}

.prof-elem p {
    font-size: 1.1rem;
    margin-top: var(--mrgn-xs);
    line-height: 130%;
    margin-left: var(--mrgn-sm);
}

.flexter {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.prof-elem img {
    width: 50px;
    height: 50px;
}

.material-icons {
    font-family: 'Material Icons';
    font-size: 48px;
    margin-left: var(--mrgn-sm);
}

.material-icons.md-36 { font-size: 36px; }
.material-icons.md-24 { font-size: 24px; }

.icon-long {
    margin-top: 15px;
}

/* AVALEHT 2 */

#praktikale2,
#syndmused2,
#tugiteenused2,
#toitlustus2,
#tunniplaan2,
#bussiajad2,
#looming2,
#opetajad2,
#ajatelg2,
#erialad2,
#opetajad,
#ajatelg,
#erialad {
    position: absolute;
}

#praktikale2 img,
#syndmused2 img,
#tugiteenused2 img,
#toitlustus2 img,
#tunniplaan2 img,
#bussiajad2 img,
#looming2 img,
#opetajad2 img,
#ajatelg2 img,
#erialad2 img,
#opetajad img,
#ajatelg img,
#erialad img {
    z-index: 1;
    height: 180px;
}

/* VASAK POOL */

#praktikale2 {
top: 44vh;
left: 35vw;
}

#syndmused2 {
top: 35vh;
left: 26vw;
}

#tugiteenused2 {
top: 35vh;
left: 64vw;
}

/* PAREM POOL */

#toitlustus2 {
top: 26vh;
left: 55vw;
}

#tunniplaan2 {
top: 26vh;
left: 35vw;
}

#bussiajad2 {
top: 44vh;
left: 55vw;
}

#looming2 {
top: 53vh;
left: 26vw;
}

#ikt2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 44vh;
    left: 50.25vw;
    margin-bottom: 200px;
}

#ikt2 img {
    height: 180px;
}

#ikt2 h3 {
    transform: rotate(-90deg);
    font-size: 1.8rem;
}

@keyframes fade-in-out {
  0%    { opacity: 0; }
  50%   { opacity: 0; }
  75%   { opacity: 1; }
  100%  { opacity: 0; }
}

#touch {
    height: 6.5vh;
    position: absolute;
    top: 65vh;
    left: 48.5vw;
    animation-name: fade-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}