* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px; /* rem font size */
}

/* VARIABLES */

:root {
    --blue: #00AAEF;
    --red: #c8102e;
    --yellow: #fedb00;
    --mrgn-sm: 30px;
    --mrgn-big: calc(var(--mrgn-sm) * 2);
    --txt-color: white;
}

/* SCROLLBAR */

.inner::-webkit-scrollbar-track {
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.inner::-webkit-scrollbar {
    width: 30px;
    border-radius: 30px;
}

.inner::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: var(--yellow);
}

/* MAIN ELEMENTS */

body {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    font-family: 'Open Sans', sans-serif;
    line-height: 200%;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    margin: 0 0 var(--mrgn-big) 0;
    text-align: center;
}

ul {
    list-style-position: inside;
}

p {
    text-align: justify;
    margin-bottom: calc(var(--mrgn-sm) / 2);
}

/* BACKGROUND */

#home {
    /*clip-path: url(#cache); */
    position: relative;
    opacity: 0.8;
}

#red {
    fill: none;
    opacity: 0.7;
    stroke:var(--red);
    stroke-width: 5;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
}

#blue {
    fill: none;
    opacity: 0.7;
    stroke: var(--blue);
    stroke-width: 5;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#yellow {
    fill: none;
    opacity: 1;
    stroke: var(--yellow);
    stroke-width: 3;
    stroke-miterlimit: 10;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: draw 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;    
}

/* BACKGROUND ANIMATION KEYFRAMES */

@keyframes draw {
    to { stroke-dashoffset: 0; }
    }

@keyframes show {
    0% { opacity: 1; }
    50% { opacity: 1; }
    100% { opacity: 1; }
    }


/* MAIN GRID AREA */

.main {
    min-width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'left top top right'
    'left content content right'
    'left bottom bottom right';
    grid-template-columns: 13vw 1fr 1fr 13vw;
    grid-template-rows: 13vh 74vh 13vh;
    position: absolute;
    top: 0;
    opacity: 0.92;
    z-index: 10;
}

.top {grid-area: top;}
.left {grid-area: left;}
.right {grid-area: right;}
.bottom {grid-area: bottom;}

/* SISU */

.content {
    grid-area: content;
    background-color: black;
    color: var(--txt-color);
    padding: 100px;
}

.inner {
    padding: 0 100px 0 0;
    margin: 0 auto;
    max-height: 45vh;
    overflow: scroll;
    overflow-x: hidden;
    width: 60vw;

}

.hex-area {
    position; relative;
}

.hexagon {
    margin: 10px;
    display: inline;
}

/* GALERII */

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.showcase {
    width: 296.7px;
    height: 420px;
    background: url(poster.jpg);
    background-size: contain;
}